<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/images/PNG-Transparent_white.webp" alt="logo" height="160" width="160"></a>
            <p>We do not offer every plan available in your area. Any information we provide is limited to those plans we do offer in your area. Please contact Medicare.gov or 1-800-MEDICARE to get information on all your options.</p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <!-- <li>
                        <a href="/about/">About Us</a>
                    </li>
                    <li>
                        <a href="/medicare/">Medicare</a>
                    </li> -->
                    <li>
                        <a href="/reviews/">Reviews</a>
                    </li>
                    <li>
                        <a href="/contact/">Contact</a>
                    </li>
                </ul>
                
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        PO BOX 171163<br>Austin, TX 78717
                    </li>
                    <li>
                        <a href="tel:512-524-9826">T: (512) 524-9826</a>
                    </li>
                    <li>
                        <a href="mailto:bill@adkinsbenefits.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="" target="_blank" rel="noopener">Adkins Web Design</a>
        <span class="copyright"> Copyright 2023 - Present</span>
    </div> -->
</footer>