---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
		<!--	created with www.mysitemapgenerator.com	-->
		<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
	<loc>https://adkinsbenefits.com/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>1.0</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/medicare/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/mortgageprotection/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/reviews/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/contact/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/parta/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/partb/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/partc/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/partd/</loc>
	<lastmod>2025-08-19T23:38:20+01:00</lastmod>
	<priority>0.8</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/state-specific-rules-for-medicare-supplements/</loc>
	<lastmod>2025-08-19T23:38:23+01:00</lastmod>
	<priority>0.6</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/mortgage-protection/</loc>
	<lastmod>2025-08-19T23:38:23+01:00</lastmod>
	<priority>0.6</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/medicare-advantage/</loc>
	<lastmod>2025-08-19T23:38:23+01:00</lastmod>
	<priority>0.6</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/plan-g-explained/</loc>
	<lastmod>2025-08-19T23:38:23+01:00</lastmod>
	<priority>0.6</priority>
</url>
<url>
	<loc>https://adkinsbenefits.com/blog/supplement-v-advantage/</loc>
	<lastmod>2025-08-19T23:38:23+01:00</lastmod>
	<priority>0.6</priority>
</url>
</urlset>